
<aside class="sidebar">
  <div class="sidebar-content">
    <img src="/images/p1.gif" alt="whorls!" class="profile-pic">

     <!-- Optional quote -->
    <!--
    <blockquote>
      “reason??” <br> — ?
    </blockquote>
    -->
   <div class="caption">
      The picture above is a graph of an exponential sum. By the "graph" of an exponential sum 
      we mean the sequence of partial sums 
      $\sum_{n=1}^N e^{2\pi i f(n)}$, plotted in the complex plane, with successive points 
      joined by straight line segments. In this case 
      $f(n) = \tfrac{n^{3/2}}{5}$. 
      Ref: Noam D. Elkies, 
      <a href="https://people.math.harvard.edu/~elkies/M259.02/whorls.html" target="_blank">
        Exponential Sums (Math 259, 2002)
      </a>.
    </div>
  </div>
 
  <!-- Theme toggle at bottom -->
  <button id="theme-toggle" class="theme-btn" aria-label="Toggle dark mode">
    <span class="material-symbols-outlined">contrast</span>
  </button>
</aside>

