<aside class="sidebar">
  <img src="{{ '/images/p1.gif' | relative_url }}" alt="https://people.math.harvard.edu/~elkies/M259.98/whorls.html" class="profile-pic">
  

  <blockquote>
    “reason??” <br> — ?
  </blockquote>
  <div id="sidebar-caption" class="caption">
      Graph of exponential sums, $\sum_{n=1}^N e^{2\pi i f(n)}$. By the "graph" of an exponential sum we mean the sequence of partial sums, plotted in the complex plane, with successive points joined by straight line segments.
      <a href="https://www.unsw.edu.au/science/our-schools/maths/our-school/spotlight-on-our-people/history-school/glimpses-mathematics-and-statistics/exponential-sums"> Source </a>.
  </div>
</aside>

