<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>{{ page.title }} | {{ site.title }}</title>-->
 <title>{{ page.title }}</title>

  <!-- SEO & Social Metadata -->
  {% seo %}
  {% feed_meta %}

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
 <!-- Juliamono-preload-->
    <link rel="preload" href="{{ '/fonts/JuliaMono-Regular.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ '/fonts/JuliaMono-Bold.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ '/fonts/JuliaMono-RegularItalic.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
  
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Serif+Bengali&display=swap" rel="stylesheet">
  <!-- Bengali font -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali&display=swap" rel="stylesheet">

  <!-- MathJax -->
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    },
    options: {
      // don’t try to typeset inside code blocks
      skipHtmlTags: ['script','noscript','style','textarea','pre','code']
    }
  };
</script>
<script id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<!-- Image shuffling -->


<script>
  document.addEventListener("DOMContentLoaded", function() {
    const pics = [
      {
        src: "images/p1.gif",
          caption: "Here $f(n)=n^{3/2}/5$, I got it from Noam Elkies's page, here's the 
          <a href="https://people.math.harvard.edu/~elkies/M259.02/whorls.html"> link </a>."
      },
      {
        src: "images/p4.png",
        caption: 'Here $f(n)=n/11 + n^2/21 + n^3/31$'
      },
      {
        src: "images/p3.png",
          caption: 'Here $f(n)=(\ln{n})^4$'
      }
    ];

    // Pick random picture + caption
    const choice = pics[Math.floor(Math.random() * pics.length)];
    document.getElementById("sidebar-pic").src = choice.src;
    document.getElementById("sidebar-caption").innerHTML = choice.caption;
  });
</script>

</head>
<body>
  <div class="container">
    {% include sidebar.html %}
    <div class="content">
      {% include header.html %}

      <main>
        {{ content }}
      </main>

      {% include footer.html %}
    </div>
  </div>
</body>
</html>

